html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

svg {
    height: 60%;
    width: 100%;
}

g {
    height: 100%;
    width: 100%;
}

.node rect, .node circle, .node ellipse, .node polygon {
    stroke: #333;
    fill: #fff;
    stroke-width: 1.5px;
}

#bottom {
    display: flex;
    height: 35%;
}

#bottom>div {
    padding: 0 10px;
    width: 50%;
}

h3 {
    margin: 0;
}

#edgeList {
    overflow-y: scroll;
}

.edgeRow {
    display: flex;
    justify-content: space-between;
}

.edgeRow.active {
    background-color: red;
}

#shoppingCart {
    overflow-y: scroll;
}

.edgePath path.path {
    stroke: #333;
    fill: none;
    stroke-width: 1.5px;
}

button.right {
    background-color: whitesmoke;
}

.edgeRow .edge {
    flex: 1;
}

.edgeRow .ratio {
    padding-right: 10px;
}
